.cartTableContainer p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carritoVacio {
    display: flex !important; 
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000;
}


.form2 {
    max-height: 3000px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-items: center;
    padding: 2rem 1.5rem;
} 

.checkout-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cartTableContainer {
    width: 100%;
}

table {
    margin: 0 auto;
}

table {
    width: 100%;
    /* Añadir un borde a la tabla */
    border-collapse: collapse;
    width: 90%;

    /* Asegurar que la tabla use todo el ancho disponible */
}

th,
td {
    padding: auto;
    /* Aumentar el padding para más espacio alrededor del texto */
    text-align: center;
    /* Asegurar que el texto esté centrado */
    border: #b8b8b8 1px solid;
    border-radius: 90%;
}

